.hamburgerIcon {
	width: 35px;
	border: 1px solid white;
	padding: 8px;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

@media (max-width: 450px) {
	.menu {
		top: 20px;
		right: 0;
	}
}
