.button {
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  letter-spacing: 1.3px;
  padding-bottom: rgba(5, 5, 5, 0.6);
  max-width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: capitalize;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  pointer-events: none;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
  background-color: #666666;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/* .selected {
  border: 1px solid rgba(255, 255, 255, 0.2);
} */
