.nav {
  display: flex;
  margin-top: 7%;
  text-align: center;
  width: 15%;
  margin-left: 40px;
  flex-direction: column;
  position: fixed;
}

@media (max-width: 734px) {
  .nav {
    display: none;
  }
}
