.listsLi {
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  padding-top: 5px;
}
.listsLi:first-of-type {
  margin-left: 25px;
}

ul {
  margin: 0;
}

@media (max-width: 450px) {
  .listsLi:first-of-type {
    margin-left: 0;
  }
  .listsLi {
    font-size: 15px;
  }
  ul {
    padding-left: 18px;
  }
}
