.title {
	color: #bb0000;
	padding-top: 60px;
	font-size: 40px;
	width: 60%;
	text-align: left;
	margin-left: 30px;
}

.title::first-letter {
	color: grey;
	font-size: 80px;
}

.subTitle {
	color: white;
	text-align: left;
	margin-left: 60px;
	font-size: 22px;
}

.subTitle a:active,
.subTitle a {
	color: #d1d1d1;
	text-decoration: none;
}

.subTitle a:hover {
	color: #ffffff;
	text-decoration: none;
}
/* ======================================================================================== */
@media (max-width: 450px) {
	.title {
		font-size: 18px;
		width: 90%;
		margin: 0 auto;
		padding-top: 20px;
	}
	.title::first-letter {
		color: grey;
		font-size: 25px;
	}

	.subTitle,
	.subTitle a {
		font-size: 14px;
	}

	.subTitle {
		margin-left: 15px;
		margin-right: 15px;
		width: 40%;
	}
}

/*  ================================================================================ */
@media (max-width: 1020px) and (min-width: 451px) {
	.title {
		font-size: 27px;
	}

	.title::first-letter {
		font-size: 55px;
	}

	.subTitle,
	.subTitle a {
		font-size: 18px;
		line-height: 1.6rem;
	}
}
