.button {
	border-radius: 4px;
	background-color: transparent;
	border: none;
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 20px;
	letter-spacing: 1.3px;
	max-width: 200px;
	width: fit-content;
	transition: all 0.5s;
	cursor: pointer;
	text-transform: capitalize;
}

.button:hover {
	opacity: 1;
	right: 0;
}

.button:active,
.button:focus {
	border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 1024px) {
	.button {
		font-size: 16px;
		padding: 20px 10px;
	}
}

@media (max-width: 810px) {
	.button {
		font-size: 12px;
		padding: 20px 10px;
	}
}
